<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 引入公共的头文件和静态资源 -->
    <div th:replace="~{commons/common-static::common-static}"></div>

    <!-- markdown编辑器支持 -->
    <link rel="stylesheet" th:href="@{/editor/css/editormd.min.css}">
    <script th:src="@{/editor/editormd.min.js}"></script>
</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="lds-hourglass"></div>
</div>

<!-- Main Content-->
<div class="main-container-wrapper">
    <!-- Top bar area -->
    <div th:replace="~{commons/common-top::common-top-bar}"></div>

    <div class="container-fluid page-body-wrapper">
        <!-- Side Menu area -->
        <div th:replace="~{commons/common-side::common-side-bar}"></div>

        <!-- Mani Page -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <!-- Start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex justify-content-between mb-30">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item">博客中心</li>
                                        <li class="breadcrumb-item"><a th:href="@{/admin/blog/list}">博客管理</a></li>
                                        <li class="breadcrumb-item active">编辑</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <!--博客创作-->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center" style="margin-top: 20px">
                                        <h4 class="modal-title">博客编辑</h4>
                                        <hr/>
                                    </div>
                                    <form id="editBlog" class="forms-sample">
                                        <input id="blogId" name="blogId" type="hidden" th:value="${blog.getBlogId()}"/>
                                        <input id="oldBlogTitle" name="oldBlogTitle" type="hidden" th:value="${blog.getBlogTitle()}"/>
                                        <div class="form-group">
                                            <label for="blogTitle">博客标题</label>
                                            <input type="text" class="form-control" id="blogTitle" name="blogTitle" th:value="${blog.getBlogTitle()}">
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="creationType" class="col-form-label">创作类型</label>
                                                <select id="creationType" name="creationType" class="form-control">
                                                    <option th:selected="${blog.getCreationType()} == -1" value="-1">请选择创作类型</option>
                                                    <option th:selected="${blog.getCreationType()} == 0" value="0">原创</option>
                                                    <option th:selected="${blog.getCreationType()} == 1" value="1">转载</option>
                                                    <option th:selected="${blog.getCreationType()} == 2" value="2">翻译</option>
                                                    <option th:selected="${blog.getCreationType()} == 3" value="3">总结</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="typeId" class="col-form-label">博客类型</label>
                                                <select id="typeId" name="typeId" class="form-control">
                                                    <option value="-1">请选择博客类型</option>
                                                    <option th:selected="${blog.getTypeId()} == ${type.getTypeId()}" th:each="type : ${blogTypes}" th:value="${type.getTypeId()}" th:text="${type.getTypeName()}">SpringMVC</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="firstPicture" class="col-form-label">首图地址</label>
                                                <select id="firstPicture" name="firstPicture" class="form-control">
                                                    <option th:selected="${blog.getFirstPicture() == '-1'}" value="-1">请选择首图地址</option>
                                                    <option th:selected="${blog.getFirstPicture() == '11'}" value="11">/image/female</option>
                                                    <option th:selected="${blog.getFirstPicture() == '22'}" value="22">/image/long</option>
                                                    <option th:selected="${blog.getFirstPicture() == '33'}" value="33">/image/abraham</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="content">博客正文</label>
                                            <div id="content" class="form-control">
                                                <textarea id="blogContent" name="blogContent" style="display: none;" th:text="${blog.getBlogContent()}"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="blogDescription">博客描述</label>
                                            <textarea class="form-control" id="blogDescription" name="blogDescription" rows="4" th:text="${blog.getBlogDescription()}"></textarea>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label class="col-form-label">是否发布</label>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" th:checked="${blog.getPublished() == 1}" id="published" name="published" value="1">
                                                    <label class="custom-control-label" for="published">发布</label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="col-form-label">是否赞赏</label>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" th:checked="${blog.getCommendable() == 1}" id="commendable" name="commendable" value="1">
                                                    <label class="custom-control-label" for="commendable">赞赏</label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="col-form-label">是否推荐</label>
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" th:checked="${blog.getRecommend() == 1}" checked id="recommend" name="recommend" value="1">
                                                    <label class="custom-control-label" for="recommend">推荐</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="text-align: center">
                                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                            <button class="btn btn-light">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Footer Area -->
            <div th:replace="~{commons/common-footer::common-footer-bar}"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // 初始化markdown编辑器
    $(function() {
        const testEditor = editormd("content", {
            width: "100%",
            height: 520,
            syncScrolling: "single",
            path: "/editor/lib/",
            saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
            emoji: true,
            tex : true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart : true,             // 开启流程图支持，默认关闭
            sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭
            placeholder : "请在这里编辑你的博客正文...",
            // toolbarIcons : ""
        });
    });

    $('#editBlog').validate({
        submitHandler: function (form) {
            edit();
        }
    });

    /**
     * 编辑博客文章
     */
    function edit() {
        const blogId = $("#blogId").val();
        const blogTitle = $("#blogTitle").val();
        const creationType = $("#creationType option:selected").val();
        const typeId = $("#typeId").val();
        const firstPicture = $("#firstPicture option:selected").text();
        const blogContent = $("#blogContent").val();
        const blogDescription = $("#blogDescription").val();
        let published = 0;
        let commendable = 0;
        let recommend = 0;
        if ($("#published").prop('checked')){
            published = 1;
        }
        if ($("#commendable").prop('checked')){
            commendable = 1;
        }
        if ($("#recommend").prop('checked')){
            recommend = 1;
        }
        const oldBlogTitle = $("#oldBlogTitle").val();
        const config = {
            url: '/admin/blog/editBlog',
            type: 'post',
            data: {
                "blogId": blogId,
                "blogTitle": blogTitle,
                "creationType": creationType,
                "typeId": typeId,
                "firstPicture": firstPicture,
                "blogContent": blogContent,
                "blogDescription": blogDescription,
                "published": published,
                "commendable": commendable,
                "recommend": recommend,
                "oldBlogTitle": oldBlogTitle
            },
            success: function (result) {
                if (result.code === 0) {
                    toastr.success(result.msg, "", {
                        positionClass: "toastr toast-top-center",
                        containerId: "toast-top-center",
                        showMethod: "slideDown",
                        hideMethod: "slideUp",
                        timeOut: 2e3
                    });
                    window.location.replace('/admin/blog/list');
                } else {
                    toastr.error(result.msg, "", {
                        positionClass: "toastr toast-top-center",
                        containerId: "toast-top-center",
                        showMethod: "slideDown",
                        hideMethod: "slideUp",
                        timeOut: 2e3
                    })
                }
            }
        };
        console.log(config);
        $.ajax(config);
    }
</script>

</body>

</html>