<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <aside class="sidemenuoption" th:fragment="common-blog-sidebar">
        <div class="sidemenuoption-inner">
            <span class="menuoption-close"><i class="ti-close"></i></span>
            <div class="site-name-logo">
                <div class="site-name">
                    <a th:href="@{/index}"><img th:src="@{/image/front-desk/index/relovan.png}" alt="" title=""></a>
                </div>
            </div>
            <div class="themelazer_mobile_menu"></div>
        </div>
    </aside>
</html>