<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 引入公共的头文件和静态资源 -->
<div th:replace="~{commons/common-static::common-static}"></div>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="lds-hourglass"></div>
</div>

<!-- Main Content-->
<div class="main-container-wrapper">
    <!-- Top bar area -->
    <div th:replace="~{commons/common-top::common-top-bar}"></div>

    <div class="container-fluid page-body-wrapper">
        <!-- Side Menu area -->
        <div th:replace="~{commons/common-side::common-side-bar}"></div>

        <!-- Mani Page -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <!-- Start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex justify-content-between mb-30">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item">管理中心</li>
                                        <li class="breadcrumb-item active"><a th:href="@{/admin/management/gallery}">图库管理</a></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12 mb-30">
                            <div class="card bg-boxshadow full-height">
                                <div class="card-body">
                                    <!-- 新增按钮 -->
                                    <div class="">
                                        <a class="btn btn-rounded btn-outline-primary mb-2 mr-2" th:href="@{/admin/management/gallery/add}">新&nbsp;增</a>
                                        <a class="btn btn-rounded btn-outline-info mb-2 mr-2" th:href="@{/admin/management/gallery/show}">展&nbsp;示</a>
                                    </div>
                                    <!-- 表格主体 -->
                                    <div class="table-responsive">
                                        <table class="table table-hover table-centered mb-0">
                                            <thead class="primary-color">
                                            <tr>
                                                <th class="text-white" >ID</th>
                                                <th class="text-white" >图片地址</th>
                                                <th class="text-white" >图片名称</th>
                                                <th class="text-white" >图片描述</th>
                                                <th class="text-white" >被使用数</th>
                                                <th class="text-white" >图片类型</th>
                                                <th class="text-white" >操作</th>
                                            </tr>
                                            </thead>
                                            <tbody class="">
                                            <tr th:each="gallery : ${galleryList}">
                                                <td th:text="${gallery.getPictureId()}"></td>
                                                <td th:text="${gallery.getPictureAddress()}"></td>
                                                <td th:text="${gallery.getPictureName()}"></td>
                                                <td th:text="${gallery.getPictureDescription()}"></td>
                                                <td th:text="${gallery.getUseCount()}"></td>
                                                <td th:if="${gallery.getPictureType() == 0}">
                                                    <span class="badge badge-primary badge-pill">相册</span>
                                                </td>
                                                <td th:if="${gallery.getPictureType() == 1}">
                                                    <span class="badge badge-success badge-pill">博客</span>
                                                </td>
                                                <td th:if="${gallery.getPictureType() == 2}">
                                                    <span class="badge badge-info badge-pill">背景</span>
                                                </td>
                                                <td th:if="${gallery.getPictureType() == 3}">
                                                    <span class="badge badge-warning badge-pill">头像</span>
                                                </td>
                                                <td th:if="${gallery.getPictureType() == 4}">
                                                    <span class="badge badge-dark badge-pill">友链</span>
                                                </td>
                                                <td>
                                                    <a th:href="@{'/admin/management/gallery/edit/' + ${gallery.getPictureId()}}" class="action-icon-primary"> <i class="zmdi zmdi-edit"></i></a>
                                                    <a id="deleteType" class="action-icon deleteType" th:onclick="'remove('+${gallery.getPictureId()}+')'"> <i class="zmdi zmdi-delete"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- 分页数据 -->
                                    <div class="row justify-content-between" style="margin-top: 23px">
                                        <div class="" style="margin-left: 30px">
                                            <div class="dataTables_info" id="datatable-buttons_info" role="status" aria-live="polite">
                                                第 <span th:text="${pageInfo.pageNum}">1</span> 页 ( 第
                                                <span th:text="${pageInfo.startRow}">1</span> 到
                                                <span th:text="${pageInfo.endRow}">10</span> 条记录 )，共
                                                <span th:text="${pageInfo.pages}">10</span> 页 共
                                                <span th:text="${pageInfo.total}">66</span> 条记录
                                            </div>
                                        </div>
                                        <div class="" style="margin-right: 40px">
                                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">
                                                <ul class="pagination pagination-rounded">
                                                    <li class="paginate_button page-item previous" id="datatable-buttons_previous" th:if="${pageInfo.prePage != 0}">
                                                        <a th:href="@{'?pageNum=' + ${pageInfo.nextPage}}" aria-controls="datatable-buttons" data-dt-idx="0" tabindex="0" class="page-link">
                                                            <i class="arrow_carrot-left"></i>
                                                        </a>
                                                    </li>
                                                    <th:block th:each="num : ${pageInfo.navigatepageNums}">
                                                        <li th:class="${num == pageInfo.pageNum} ? 'paginate_button page-item active' : 'paginate_button page-item'">
                                                            <a aria-controls="datatable-buttons" class="page-link" th:href="@{'?pageNum=' + ${num}}" th:text="${num}"></a>
                                                        </li>
                                                    </th:block>
                                                    <li class="paginate_button page-item next" id="datatable-buttons_next" th:if="${pageInfo.nextPage != 0}">
                                                        <a th:href="@{'?pageNum=' + ${pageInfo.nextPage}}" aria-controls="datatable-buttons" data-dt-idx="7" tabindex="0" class="page-link">
                                                            <i class="arrow_carrot-right"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
            </div>

            <!-- Footer Area -->
            <div th:replace="~{commons/common-footer::common-footer-bar}"></div>

        </div>
    </div>
</div>

<script>
    /**
     * 删除图库的单条记录
     * @param id 图片Id
     */
    function remove(id){
        Swal.fire({
            title: "确定删除吗？",
            text: "你将删除这条数据，删除之后就找不到了哦~",
            type: "warning",
            showCancelButton: !0,
            confirmButtonColor: "#33ff33",
            cancelButtonColor: "#d33",
            confirmButtonText: "删除",
            cancelButtonText: "取消"
        }).then(function(flag) {
            flag.value ? $.ajax({
                url: '/admin/management/gallery/deleteGallery/' +id,
                type: "get",
                success: function (result) {
                    if (result.code === 0) {
                        Swal.fire("删除成功", result.msg, "success").then(function (t) {
                            // t.value && location.replace("/admin/management/types-management");
                            t.value && window.location.reload();
                        });
                    } else {
                        Swal.fire("删除失败", result.msg, "error")
                    }
                }
            }) : flag.dismiss === Swal.DismissReason.cancel
        })
    }
</script>

</body>

</html>