<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 引入公共的头文件和静态资源 -->
<div th:replace="~{commons/common-static::common-static}"></div>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="lds-hourglass"></div>
</div>

<!-- Main Content-->
<div class="main-container-wrapper">
    <!-- Top bar area -->
    <div th:replace="~{commons/common-top::common-top-bar}"></div>

    <div class="container-fluid page-body-wrapper">
        <!-- Side Menu area -->
        <div th:replace="~{commons/common-side::common-side-bar}"></div>

        <!-- Mani Page -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <!-- Start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex justify-content-between mb-30">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item">管理中心</li>
                                        <li class="breadcrumb-item"><a th:href="@{/admin/management/gallery}">图库管理</a></li>
                                        <li class="breadcrumb-item active">编辑</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <!-- 博客类型编辑 -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center" style="margin-top: 20px">
                                        <h4 class="modal-title">编辑博客类型</h4>
                                        <hr/>
                                    </div>
                                    <form id="galleryEdit" class="forms-sample" method="post">
                                        <input id="pictureId" name="pictureId" type="hidden" th:value="${gallery.getPictureId()}"/>
                                        <div class="form-group">
                                            <label for="pictureAddress">图片地址</label>
                                            <input id="pictureAddress" class="form-control" name="pictureAddress" th:value="${gallery.getPictureAddress()}" minlength="2" type="text" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="pictureName">图片名称</label>
                                            <input id="pictureName" class="form-control" type="text" name="pictureName" th:value="${gallery.getPictureName()}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="pictureDescription">图片描述</label>
                                            <input id="pictureDescription" class="form-control" type="text" name="pictureDescription" th:value="${gallery.getPictureDescription()}" required>
                                        </div>
                                        <div class="form-group form-line">
                                            <label class="col-form-label" for="useCount">被使用数</label>
                                            <input id="useCount" class="form-control" type="text" name="useCount" th:value="${gallery.getUseCount()}" required>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-5">
                                                <label for="pictureType" class="col-form-label">图片类型</label>
                                                <select id="pictureType" name="pictureType" class="form-control">
                                                    <option th:selected="${gallery.getPictureType() == ''}" value="">请选择图片类型</option>
                                                    <option th:selected="${gallery.getPictureType() == 0}" value="0">相册</option>
                                                    <option th:selected="${gallery.getPictureType() == 1}" value="1">博客</option>
                                                    <option th:selected="${gallery.getPictureType() == 2}" value="2">背景</option>
                                                    <option th:selected="${gallery.getPictureType() == 3}" value="3">头像</option>
                                                    <option th:selected="${gallery.getPictureType() == 4}" value="4">友链</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group text-center">
                                            <button id="pos-top-center" type="submit" class="btn btn-primary mr-2">提&nbsp;&nbsp;交</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="cancel()">取&nbsp;&nbsp;消</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
            </div>

            <!-- Footer Area -->
            <div th:replace="~{commons/common-footer::common-footer-bar}"></div>
        </div>
    </div>
</div>

<script>
    $('#galleryEdit').validate({
        submitHandler: function (form) {
            edit();
        }
    });

    /**
     * 提交编辑图片
     */
    function edit() {
        const pictureId = $("#pictureId").val();
        const pictureAddress = $("#pictureAddress").val();
        const pictureName = $("#pictureName").val();
        const pictureDescription = $("#pictureDescription").val();
        const useCount = $("#useCount").val();
        const pictureType = $("#pictureType option:selected").val();
        $.ajax({
            url: '/admin/management/gallery/editGallery',
            type: 'post',
            data: {
                "pictureId": pictureId,
                "pictureAddress": pictureAddress,
                "pictureName": pictureName,
                "pictureDescription": pictureDescription,
                "useCount": useCount,
                "pictureType": pictureType
            },
            dataType: "json",
            success: function (result) {
                if (result.code === 0) {
                    toastr.success(result.msg, "", {
                        positionClass: "toastr toast-top-center",
                        containerId: "toast-top-center",
                        showMethod: "slideDown",
                        hideMethod: "slideUp",
                        timeOut: 2e3
                    });
                    window.location.replace('/admin/management/gallery');
                } else {
                    toastr.error(result.msg, "", {
                        positionClass: "toastr toast-top-center",
                        containerId: "toast-top-center",
                        showMethod: "slideDown",
                        hideMethod: "slideUp",
                        timeOut: 2e3
                    })
                }
            }
        });
    }

    /**
     * 取消窗口，重定向到图片管理列表页面
     */
    function cancel() {
        window.location.replace('/admin/management/gallery');
    }
</script>
</body>

</html>