<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 引入公共的头文件和静态资源 -->
<div th:replace="~{commons/common-static::common-static}"></div>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="lds-hourglass"></div>
</div>

<!-- Main Content-->
<div class="main-container-wrapper">
    <!-- Top bar area -->
    <div th:replace="~{commons/common-top::common-top-bar}"></div>

    <div class="container-fluid page-body-wrapper">
        <!-- Side Menu area -->
        <div th:replace="~{commons/common-side::common-side-bar}"></div>

        <!-- Mani Page -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <!-- Start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex justify-content-between mb-30">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item">管理中心</li>
                                        <li class="breadcrumb-item"><a th:href="@{/admin/management/types-management}">博客类型</a></li>
                                        <li class="breadcrumb-item active">新增</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <!-- 博客类型新增 -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center" style="margin-top: 20px">
                                        <h4 class="modal-title">新增博客类型</h4>
                                        <hr/>
                                    </div>
                                    <form id="typesAdd" class="forms-sample" method="post">
                                        <div class="form-group">
                                            <label for="typeName">博客类型名称</label>
                                            <input id="typeName" class="form-control" name="typeName" minlength="2" type="text" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="blogCount">博客数量</label>
                                            <input id="blogCount" class="form-control" type="text" name="blogCount" required readonly value="0">
                                        </div>
                                        <div class="form-group">
                                            <label for="fileCount">文件数量</label>
                                            <input id="fileCount" class="form-control" type="text" name="fileCount" required readonly value="0">
                                        </div>
                                        <div class="form-group form-line">
                                            <label class="col-form-label">博客类型状态</label>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="typeStatus" name="typeStatus" value="1">
                                                <label class="custom-control-label" for="typeStatus">开启</label>
                                            </div>
                                        </div>
                                        <div class="form-group text-center">
                                            <button id="pos-top-center" type="submit" class="btn btn-primary mr-2">提&nbsp;&nbsp;交</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="cancel()">取&nbsp;&nbsp;消</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Footer Area -->
            <div th:replace="~{commons/common-footer::common-footer-bar}"></div>
        </div>
    </div>
</div>

<script>
    $('#typesAdd').validate({
        submitHandler: function (form) {
            add();
        }
    });

    /**
     * 提交新增博客类型
     */
    function add() {
        const typeName = $("#typeName").val();
        const blogCount = $("#blogCount").val();
        const fileCount = $("#fileCount").val();
        let typeStatus = 0;
        if ($("#typeStatus").prop('checked')){
            typeStatus = 1;
        }
        $.ajax({
            url: '/admin/management/types-management/add',
            type: 'post',
            data: {
                "typeName": typeName,
                "blogCount": blogCount,
                "fileCount": fileCount,
                "typeStatus": typeStatus
            },
            success: function (result) {
                if (result.code === 0) {
                    // toastr.success(result.msg, "", {
                    //     positionClass: "toastr toast-top-center",
                    //     containerId: "toast-top-center",
                    //     showMethod: "slideDown",
                    //     hideMethod: "slideUp",
                    //     timeOut: 2e3
                    // });
                    // window.location.replace('/admin/management/types-management');
                    Swal.fire({
                        title: result.msg,
                        text: "你是否继续新增博客类型？",
                        type: "success",
                        showCancelButton: !0,
                        confirmButtonColor: "#33ff33",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "不了，返回上一级",
                        cancelButtonText: "继续新增"
                    }).then(function (t) {
                        t.value && location.replace("/admin/management/types-management");
                    });
                } else {
                    toastr.error(result.msg, "", {
                        positionClass: "toastr toast-top-center",
                        containerId: "toast-top-center",
                        showMethod: "slideDown",
                        hideMethod: "slideUp",
                        timeOut: 2e3
                    })
                }
            }
        });
    }

    /**
     * 取消窗口，重定向到博客类型列表页面
     */
    function cancel() {
        window.location.replace('/admin/management/types-management');
    }
</script>
</body>

</html>