<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 引入公共的头文件和静态资源 -->
<div th:replace="~{commons/common-static::common-static}"></div>

<body>
    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="main-content- forget-password-area h-100vh">
        <div class="animation-bg bg-img dark-color-overlay-2" style="background-image: url(img/bg-img/bg-3.jpg);"> </div>
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-md-7 col-lg-5 mx-auto">
                    <!-- Middle Box -->
                    <div class="middle-box">
                        <h4 class="text-white">Reset Your Password</h4>
                        <p class="text-white">Enter your email address and your password will be reset and emailed to you.</p>
                        <!-- Form -->
                        <form class="m-t" action="#">
                            <div class="form-group">
                                <input type="email" class="form-control password" placeholder="Email address" required="">
                            </div>
                            <div class="btn-area">
                                <button type="submit" class="btn btn-rounded btn-outline-primary py-2 px-4 btn-block mt-15 text-white">Send new password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>